*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
nav{
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(153, 136, 136) ;
    font-size: 15px;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 40px;
}
.cont1 ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 10px 10px 0px;
    color: white;
    position: relative;
    text-align: center;
}
.cont1 ul li a{
    color: white;
    font-size: 30px;
    text-decoration: none;
    float: right;
    text-align: center;
}
.cont1 ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:white;
    display:block ;
    margin: auto;
    transition: 0.5s;
}
.cont1 ul li:hover::after{
    width: 50%;
}
.cont2{
    min-height: 100vh;
    width: 100%;
    margin-top: 0px;
    background-color:white ;
    background-image:url('pic1.jpg');
    opacity: 0.8;
    background-position: center;
    background-size: 100%;
    position: center;
    text-align: center;
    padding-top: 5%;
}
.cont2 h1{
    padding-top:2%;
    color:white;
    font-size: 60px;
    font-style:italic;
}
.cont2 p{
    color: white;
    padding-top: 2%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 4%;
}
.cont2 h4{
    padding-top: 200px;
}
.cont2 h4 fas{
    color:red;
}
.hire{
    display:inline-block;
    text-decoration:none;
    color: black;
    border: 1px solid black;
    padding:10px 20px;
    font-size: 20px;
    background:white;
    position: relative;
    cursor: pointer;
}
.hire:hover{
    border: 1px solid black;
    background:black;
    color:white;
    transition: 1s;
}
.cont3{
    max-width: auto;
    margin:auto;
    background-color: rgb(206, 233, 194);
    overflow: auto;
    text-align: center;
    align-items: center;
    font-size: 30px;
    font-style: italic;
    padding:5px;
}
.cont3 p{
    font-style: italic;
    padding: 20px;
    color: rgb(15,153,196);
}
.view{
    padding-bottom: 50px;
    padding-top: 40px;
}
.cont3 a{
    color: rgb(15,153,196);
}

.pictures{
    float:left;
    margin: 1px;
    width:325px;
    margin-left: 5px;
   
}
.pictures img{
    height:auto;
    width:100%;
}
.cont4{
    background-color: rgb(6, 224, 141);
    color: white;
    font-size: 40px;
    padding-bottom: 40px;
   
}
.cont4 h3{
    text-align: center;
    font-style: italic;
    padding: 40px;
    font-size: 40px;
}
.cont4 ul li{
    list-style: none;
    display: inline-block;
    padding:20px 60px;
    position: relative;
    border-left: 1px solid white;
    text-align: center;
    padding-top: 23px;
}
.cont4 ul li p{
    font-size: 15px;
    color: white;
    padding-bottom: 20px;
    text-align: center;
}
.cont5{
    text-align: center;
    background-color: rgb(206, 233, 194) ;
    padding-bottom: 20px;
}
.cont51{
    padding-top: 30px;
    
    font-size: 40px;
    font-style: italic;
    color: rgb(61, 158, 134);
}
.cont5 img{
    border-radius: 50%;
    padding-bottom: 30px;
    padding-top: 30px;
}
.cont5 p{
    color: rgb(47, 65, 119);
    font-size: 15px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background-color: rgb(37,87,69);
    
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  .contact{
      background-color: rgb(37,87,69);
      text-align: center;
      color:white;
      padding:15px 10px 15px 0px;
  }
  .contact h3{
      font-size:25px;
  }
  
  input[type=submit] {
    background-color:rgb(37,87,69);
    color: white;
    padding: 12px ;
    border: 1px solid white;
    width:60%;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
  
  input[type=submit]:hover {
      background-color: lightgreen;
    text-align: center;
  }
  
  .container{
    border-radius: 5px;
    background-color:rgb(37,87,69) ;
    padding: 20px;
  }
  footer{
    display:inline-flex;
      width:49%;
  }
  .details{
   
    font-size: 10px;
    color:white;
    text-align:right;
    padding-left:120px;
}
.details p{
    font-size: 20px;
    padding:50px 0px 0px 0px;
    text-align: center;
    color: white;
}
  
  .col-75 {
    float: right;
    width: 170%;
    margin-top: 6px;
    background-color: rgb(37,87,69);
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  .foot{
      color: white;
      background-color:rgba(10, 247, 235, 0.815);
      display: inline-flex;
      font-size:15px;
      width:100%;
      text-align: left;
      font-family:Georgia, 'Times New Roman', Times, serif;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .icons{
      padding-top:25px;
  }
  .icons a{
      padding-right:5px;
  }
  .foot p{
      padding-left:290px;
      
  }